:root {
  --teal: #008080;
  --gray: #383838;
  --black: #0b0b0d;
  --white: #fff;
  --blue: #009fdb;
  --green: #90d3a1;
  --red: #d29090;
}

body {
  margin: 0;
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: var(--gray);
  color: var(--black);
}

.app {
  width: 100%;
  max-width: 720px;
  margin: 40px auto;
  margin-bottom: 0px;
  padding: 16px;
}

.add-title {
  margin: 0 0 16px;
  font-weight: 700;
  text-align: center;
  color: white;
}

.add-form {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  margin-bottom: 16px;
}

.add-task {
  padding: 12px 14px;
  border-radius: 10px;
  background: var(--gray);
  color: white;
}

.add-task::placeholder {
  color: white;
  opacity: 0.8;
}

.add-task:focus {
  outline: none;
  border-color: var(--teal);
  box-shadow: 0 0 4px var(--blue);
}

.add-btn {
  margin-bottom: 40px;
  padding: 12px 12px;
  border-radius: 10px;
  background: var(--blue);
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.add-btn:hover {
  box-shadow: 0 0 4px var(--blue);
}

.title-paragraph {
  text-align: center;
  color: white;
  font-size: 20px;
}

.add-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  gap: 2px;
  width: fit-content;
  max-width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 15px;
  list-style: none;
  background-color: black;
}

.add-list:empty {
  visibility: hidden;
}

.item {
  display: flex;
  align-items: space-around;
  gap: 15px;
  flex: 0 1 auto;
  background-color: gray;
  padding: 10px;
}

.task-checkbox {
  width: 18px;
  height: 18px;
}

.task-checkbox:hover {
  box-shadow: 0 0 4px 1px var(--teal);
}

.task-title {
  display: flex;
  flex: 1 1 auto;
  min-width: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  flex-wrap: wrap;
  text-wrap: wrap;
  font-size: 20px;
  padding: 0 20px;
  color: white;
}

.delete-btn {
  border: none;
  outline: none;
  background-color: gray;
}

.delete-btn:hover {
  background-color: var(--blue);
  box-shadow: 0 0 4px 8px var(--blue);
}

.delete-icon {
  height: 30px;
  width: 30px;
  display: block;
  cursor: pointer;
}

.edit-btn {
  border: none;
  outline: none;
  background-color: gray;
}

.edit-btn:hover {
  background-color: var(--blue);
  box-shadow: 0 0 4px 8px var(--blue);
}

.edit-icon {
  height: 30px;
  width: 30px;
  display: block;
  cursor: pointer;
}
